/* Estilos básicos */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #E6E6FA;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-container .brand-name {
  font-size: 24px;
  font-weight: 600;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #E6E6FA;
  padding: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
}

/* Opciones de QR */
.qr-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 45%;
}

.qr-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.qr-option:hover {
  background-color: #dcdcdc;
}

.qr-option i {
  font-size: 24px;
  margin-bottom: 10px;
}

.qr-option span {
  font-size: 16px;
  font-weight: 500;
}

/* Formulario */
#form-container {
  width: 50%;
}

#form-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#form-description {
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
  height: 80px;
}

/* Botón para generar QR */
.generate-btn {
  background-color: #5cb85c;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.generate-btn:hover {
  background-color: #4cae4c;
}